* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #e0e5ec;
}

.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5),
    -4px -4px 6px rgba(116, 125, 136, 0.2);
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 200px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: inherit;
  box-shadow: inherit;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) .icon {
  background: #4267b2;
}

.wrapper .button:nth-child(2) .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3) .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4) .icon {
  background: #333;
}
.wrapper .button:nth-child(5) .icon {
  background: #ff0000;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #e1306c;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #ff0000;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3) span {
  color: #fb2175;
}
.wrapper .button:nth-child(4) span {
  color: #333;
}
.wrapper .button:nth-child(5) span {
  color: #ff0000;
}
